@charset "UTF-8";
/********************reboot********************/
*, *::before, *::after { box-sizing: border-box; }

html { font-size: calc(32 / 750 * 100vw); font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif; }

body, p, ul, ol, th, td, dl, dd, h1, h2, h3, h4, h5, h6, form, input, select, textarea { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style-type: none; }

a { text-decoration: none; }

img { border: none; vertical-align: top; }

table { border-collapse: collapse; }

input, textarea { outline: none; }

textarea { resize: none; overflow: auto; }

/********************common********************/
.show { display: block !important; }

.hide { display: none !important; }

small, .small { font-size: 80%; }

.text-justify { text-align: justify; text-align-last: justify; }

.process-x { display: flex; text-align: center; counter-reset: number 0; }
.process-x .process-item { position: relative; }
.process-x .process-item { flex: 1; }
.process-x .process-item::before { content: ''; position: absolute; z-index: -2; top: 0.5625rem; left: 0; width: 100%; border-top: 0.125rem solid #c5c3c3; }
.process-x .process-item:first-child::before { left: 50%; width: 50%; }
.process-x .process-item:last-child::before { left: 0; width: 50%; }
.process-x .process-item::after { counter-increment: number 1; content: counters(number,""); position: absolute; z-index: -1; top: 0; left: calc(50% - 0.625rem); width: 1.25rem; height: 1.25rem; border-radius: 50%; font-size: 1.125rem; color: #fff; background-color: #c5c3c3; }
.process-x .process-item .item-content { margin-top: 1.25rem; }
.process-x .item-selected:before { border-color: red; }
.process-x .item-selected::after { background-color: red; }

.process-x .item-content { font-size: 0.875rem; }

.process-y { padding: 0.9375rem; }
.process-y .process-item { position: relative; padding: 0.46875rem 0; }
.process-y .process-item::before { content: ''; position: absolute; top: 0; left: -0.0625rem; height: 100%; border-left: 0.125rem solid #c5c3c3; }
.process-y .process-item:first-child::before { top: 50%; height: 50%; }
.process-y .process-item:last-child::before { top: 0; height: 50%; }
.process-y .process-item::after { content: ''; position: absolute; top: calc(50% - 0.46875rem); left: -0.46875rem; width: 0.9375rem; height: 0.9375rem; border-radius: 50%; background-color: #c5c3c3; }
.process-y .process-item .item-content { margin-left: 0.9375rem; }
.process-y .item-selected::before { border-left: 0.125rem solid red; }
.process-y .item-selected::after { background-color: red; }

.process-y .item-content { font-size: 0.875rem; }
.process-y .item-content .content-date { font-size: 0.6875rem; }

/********************icon********************/
/********************demo********************/
.img-box { position: relative; padding-top: 26.6666666667%; }
.img-box img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.cell { position: relative; position: relative; }
.cell::after { content: ''; position: absolute; top: calc(50% - 0.25rem); right: 0.59375rem; display: inline-block; width: 0.5rem; height: 0.5rem; border-width: 0.125rem 0.125rem 0 0; border-style: solid; border-color: #C0C0C0; transform: rotateZ(45deg); }
.cell:not(:last-child)::before { content: ''; position: absolute; top: 0; left: 0; width: 200%; height: 200%; box-sizing: border-box; border-bottom: 1px solid #ddd; transform: scale(0.5); transform-origin: 0 0; pointer-events: none; }
.cell div { width: 6.25rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
